* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  border: 0;
}
ul {
  list-style: none;
}

li {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
}

.list__robots {
  display: flex;
}

.list__robots,
li {
  display: flex;
}

.list__robots,
img {
  width: 30vh;
}
